<?xml version='1.0'?>
<launch>
	<arg name="uav_name" default="emulated_uav"/>
	<arg name="wp_name" default="home"/>

	<group ns="$(arg uav_name)">
		<arg name="move" default="home"/>

		<node pkg="contrail" type="dispatcher" name="waypoint_dispatcher" clear_params="true" output="screen">
			<param name="action_topic" value="/emulated_uav/mavel/contrail" />

			<rosparam command="load" file="$(find uavusr_emulator)/movements/$(arg wp_name).yaml"/>
		</node>
	</group>
</launch>
